* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 800px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////*/

.logo-titulo {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-left: 3rem;

}

.barra-de-navegacion-principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    color: white;
    background-color: #0c1022;
    position: fixed;
    z-index: 1;
}

.barra-de-navegacion-principal .barra-de-navegacion__logo {
    width: 50%;
    opacity: 0;
    animation: animacionAparicionDeAbajo .6s ease forwards;
    animation-delay: .2s;
}

.barra-de-navegacion__derecha {
    width: 50%;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: animacionAparicionDeAbajo .5s ease forwards;
    animation-delay: .5s;
}

.barra-de-navegacion__derecha a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.barra-de-navegacion__derecha a:hover {
    color: #1BFFFF;
}


.header {
    width: 100%;
    min-width: 400px;
    height: 130vh;
    background-color: #0c1022;
    color: white;
    padding-bottom: 2rem;
}

#seccion-header {
    width: 100%;
    height: 85%;
}

.header__parte-izquierda {
    width: 50%;
    height: 100%;
}

.header__parte-izquierda .header__hello {
    font-size: 3rem;
    opacity: 0;
    animation: animacionAparicionDeLaIzquierda 1s ease forwards;
    animation-delay: .5s;
}

.header__parte-izquierda .header__name {
    font-size: 7.4rem;
    font-family: 'Dancing Script', cursive;
    opacity: 0;
    animation: animacionAparicionDeLaDerecha 1s ease forwards;
    animation-delay: .7s;
    color: #1ee0ef;
}

.header__parte-izquierda .header__dev {
    font-size: 2.5rem;
    opacity: 0;
    animation: animacionAparicionDeLaIzquierda 1s ease forwards;
    animation-delay: .9s;
}

.parte-izquierda__redes-sociales {
    width: 30%;
    height: 10%;
    opacity: 0;
    animation: animacionAparicionDeLaIzquierda 1s ease forwards;
    animation-delay: 1.1s;
}


.header__parte-derecha {
    width: 50%;
    height: 100%;
    opacity: 0;
    animation: animacionAparecerLaImagen .6s ease forwards;
    animation-delay: 1.4s;
}


.imagen__1 {
    width: 100%;
    height: 82%;
    border-radius: 50%;
    background: linear-gradient(10deg, #2E3192, #1BFFFF);
    animation: efectoBackgroundImagen 1s infinite cubic-bezier(0.165, 0.84, 0.44, 1), efectoDeTraslado 3s infinite ease-in-out;
}

.imagen__2 {
    width: 98%;
    height: 98%;
    border-radius: 50%;
    background: #1f242d;
}

#foto-header {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contenedor_1-botones {
    background-color: #1ee0ef;
    width: 30%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contenedor_1-botones:hover {
    box-shadow: 1px 1px 15px #1ee0ef
}

.contenedor_2-botones {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1022;
    border-radius: 50%;
    transition: .4s all ease;
}

.contenedor_2-botones:hover {
    background-color: #1BFFFF;
}

.header__boton {
    width: 50%;
    padding: 15px 0;
    border-radius: 30px;
    background-image: linear-gradient(to right, #2E3192, #1BFFFF);
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    animation: animacionAparicionDeArriba 2s ease forwards;
    animation-delay: 1.1s;
}

.header__boton:hover {
    transform: scale(1.2);

}

.header__boton a {
    text-decoration: none;
    color: white;
}

/*////////////////////////////////////////////// ABOUT //////////////////////////////////////////////////////*/

.about-me {
    width: 100%;
    min-width: 400px;
    min-height: 140vh;
    background-color: #323946;
    color: white;
    padding-bottom: 2rem;
}

#about-me__title {
    font-size: 3rem;
}

.contenedor_titulo {
    width: 100%;
    height: 10%;
}

.contenedor_parte-superior {
    width: 100%;
    height: 40%;
}

.contenedor_parte-inferior {
    width: 100%;
    height: 50%;
}

section .about-me__parte-izquierda {
    width: 50%;
    height: 100%;
    margin: auto 0;
    margin-right: 30px;
}

section .about-me__parte-derecha {
    width: 50%;
    height: 100%;
}

section .about-me__parte-inferior-derecha {
    width: 50%;
    height: 100%;
}

section .about-me__parte-inferior-izquierda {
    width: 50%;
    height: 100%;
    margin-right: 20px;
}

.about-me__parte-inferior-izquierda strong {
    font-size: 2rem;
}

.about-me__parte-inferior-derecha strong {
    font-size: 2rem;
}



#about-me__image {
    width: 100%;
    height: 100%;
    border-radius: 140px;
    border: 3px solid #1ee0ef;
    box-shadow: 1px 1px 30px #1ee0ef;
}


#about-me__title span {
    color: #1ee0ef;
}

#parte-izquierda__title {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Lobster', sans-serif;
}

#parte-izquierda__descripcion {
    font-weight: 200;
    font-size: 1.25rem;
}



.contenedor_1 {
    background-color: #1ee0ef;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contenedor_2 {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323946;
    border-radius: 50%;
    transition: .4s all ease;
}

.contenedor_1-hobbies {
    background-color: #1f242d;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px white;
    transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor_1-hobbies:hover {
    background-color: #1ee0ef;
    box-shadow: 1px 1px 15px #1ee0ef;
}



.contenedor-hobbies {
    width: 100%;
    height: 130px;
}

.contenedor_2:hover {
    background-color: #1ee0ef;
}


.contenedor-logos {
    width: 100%;
    height: 130px;
}

.icono {
    width: 70px;
    height: 70px;
}


/*////////////////////////////////////////////// PORTFOLIO //////////////////////////////////////////////////////*/

.portfolio {
    width: 100%;
    min-width: 400px;
    min-height: 115vh;
    background-color: #0c1022;
    color: white;
    padding-bottom: 3rem;
}

#portfolio-section #latest {
    font-size: 1.4rem;
    font-style: italic;
}

.portfolio h4 {
    font-size: 3rem;
}

.portfolio h4 span {
    color: #1BFFFF;
}

.contenedor-de-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 2rem;
}

.proyect {
    background-color: aliceblue;
    border: 3px solid #1ee0ef;
    border-radius: 15px;
    box-shadow: 1px 1px 30px #1ee0ef;
}

.proyect:nth-child(1) {
    background-image: url(Pictures/Pokedex.png);
    background-size: cover;
}

.proyect:nth-child(2) {
    background-image: url(Pictures/Divisas.png);
    background-size: contain;
}

.proyect:nth-child(3) {
    background-image: url(Pictures/Captura\ de\ pantalla\ \(38\).png);
    background-size: contain;
}

.proyect:nth-child(4) {
    background-image: url(Pictures/Memo-Test.png);
    background-size: cover;
}

#proyect__descripcion {
    color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 0.8rem;
}

#proyect__descripcion h1 {
    font-size: 2rem;
}


.proyect:hover #proyect__descripcion {
    opacity: 1;
    backdrop-filter: blur(4px);
}

.proyect__iconos a {
    color: black;
}

/* Guardo este color ultra mega fachero #ee041adb */
/*////////////////////////////////////////////// CONTACT US //////////////////////////////////////////////////////*/
.contact {
    width: 100%;
    min-width: 400px;
    min-height: 110vh;
    color: white;
    background-color: #323946;
    padding-bottom: 2rem;
}

#contact-section h5 {
    font-size: 3rem;
}

#contact-section h5 span {
    color: #1BFFFF;
}

#contact-section #touch {
    font-size: 1.4rem;
    font-style: italic;
}

.contact__lugares-por-donde-contactarme {
    width: 35%;
}

.contact__formulario {
    width: 65%;
    height: 100%;
}

.button-formulario {
    width: 30%;
    padding: 15px 0;
    border-radius: 30px;
    background-image: linear-gradient(to right, #2E3192, #1BFFFF);
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    animation: animacionAparicionDeArriba 2s ease forwards;
    animation-delay: 1.1s;
}

#mini-container-datos span {
    font-weight: 800;
    font-size: 1.5rem;
}

#mini-container-datos a {
    font-weight: 300;
}


/*////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////////*/
footer {
    background-color: black;
    color: white;
    width: 100%;
    min-width: 400px;
    height: 25vh;
    padding: 2rem
}

footer p {
    font-size: 2rem;
}

.footer__social-media {
    width: 16%;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
}

.footer__social-media a {
    background-color: white;
    border-radius: 50%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.6rem;
}


.cypress {
    width: 110px;
}

.icon {
    font-size: 5rem;
}

@keyframes efectoBackgroundImagen {
    0% {
        background: linear-gradient(10deg, #2E3192, #1BFFFF);
    }

    15% {
        background: linear-gradient(50deg, #2E3192, #1BFFFF);
    }

    25% {
        background: linear-gradient(100deg, #2E3192, #1BFFFF);
    }

    40% {
        background: linear-gradient(140deg, #2E3192, #1BFFFF);
    }

    50% {
        background: linear-gradient(180deg, #2E3192, #1BFFFF);
    }

    60% {
        background: linear-gradient(220deg, #2E3192, #1BFFFF);
    }

    75% {
        background: linear-gradient(260deg, #2E3192, #1BFFFF);
    }

    85% {
        background: linear-gradient(300deg, #2E3192, #1BFFFF);
    }

    100% {
        background: linear-gradient(360deg, #2E3192, #1BFFFF);
    }
}

@keyframes efectoDeTraslado {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes animacionAparicionDeAbajo {

    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animacionAparicionDeLaIzquierda {

    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animacionAparicionDeLaDerecha {

    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animacionAparicionDeArriba {

    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animacionAparecerLaImagen {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#menu {
    display: none;
}

@media (max-width:850px) {

    /*////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////*/
    .header {
        height: 190vh;
    }

    .logo-titulo {
        font-size: 3.5rem;
    }

    .barra-de-navegacion-principal {
        flex-direction: column;
        height: 9rem;
    }

    .barra-de-navegacion-principal .barra-de-navegacion__logo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;
    }

    #seccion-header {
        display: flex;
        flex-direction: column-reverse
    }

    .header__parte-derecha {
        width: 100%;
        height: 50%
    }

    .header__parte-derecha .imagen__1 {
        width: 90%;
        height: 85%;
    }

    .header__parte-izquierda {
        width: 100%;
        height: 40%;
        align-items: center;
    }

    .parte-izquierda__redes-sociales {
        margin-bottom: 2rem !important;
    }

    .header__parte-izquierda .header__dev {
        margin-bottom: 2rem !important;
    }

    .barra-de-navegacion__derecha {
        display: none;
        flex-direction: column;
        z-index: 1;
        width: 113%;
        justify-content: center;
        align-items: center;
        background: #0c1022;
    }

    .barra-de-navegacion__derecha a {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0.7rem;
        font-size: 2rem;
    }

    #menu {
        display: flex;
        margin-right: 3rem;
    }

    #menu:hover {
        cursor: pointer;
    }

    /*////////////////////////////////////////////// ABOUT //////////////////////////////////////////////////////*/
    .about-me {
        padding-bottom: 3rem;
    }

    .contenedor_parte-superior {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    section .about-me__parte-derecha {
        width: 100%;
        height: 50%;
    }

    section .about-me__parte-izquierda {
        width: 100%;
        height: 50%;
        margin-top: 3rem;
    }

    .contenedor_parte-inferior {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .about-me__parte-inferior-izquierda {
        width: 100%;
        height: 50%;
    }

    section .about-me__parte-inferior-derecha {
        width: 100%;
        height: 50%;
    }

    /*////////////////////////////////////////////// PROYECT //////////////////////////////////////////////////////*/
    .portfolio {
        padding-bottom: 3rem;
    }

    .contenedor-de-proyectos {
        display: flex;
        flex-direction: column;
    }

    .proyect {
        width: 100%;
        height: 22rem;
    }

    /*////////////////////////////////////////////// CONTACT ME //////////////////////////////////////////////////////*/
    .contact {
        padding-bottom: 2rem;
    }

    .contenedor-de-contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__lugares-por-donde-contactarme {
        width: 100%;
        justify-content: center !important;
        align-items: center;
    }

    #container-datos {
        width: 100%;
        justify-content: start;
    }

    .grande {
        font-size: 4em !important;
    }

    #container-datos__titulo {
        font-size: 3rem;
    }

    #container-datos__descripcion {
        font-size: 1.5rem;
    }

    .contact__formulario {
        width: 100%;
    }

    form label {
        font-size: 1.5rem;
    }

    .button-formulario {
        width: 50%;
        padding: 25px 0;
    }

    /*////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////////*/
    footer p {
        font-size: 1.5rem;
    }

    .footer__social-media {
        width: 40%;
        height: 8vh;
        margin-bottom: 0.5rem;
    }

    .footer__social-media a {
        width: 22%;
    }
}